<!DOCTYPE html>
<html>
  <head>
    <title> Add Species </title>
    <!-- imports Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <h2> Add Species </h2>
      <!-- only accessible if the user's role is a marine biologist -->
      {% if user.profile.role == "Marine Biologist" %}
      <!-- collets data from the user -->
      <form method='POST'>
        {% csrf_token %}

        <!-- gets the name of the whale -->
        <div class="form-group">
        <label for='name'>Name of Whale:</label>
        <input id='name' name='name' type='text'/>
        </div>

        <!-- gets the number of whales -->
        <div class="form-group">
          <label for='numWhales'>Number of Whales:</label>
          <input id='numWhales' name='numWhales' type='text'/>
        </div>

        <!-- gets the diet of the whale -->
        <div class="form-group">
          <label for='diet'>Diet of the Whale:</label>
          <input id='diet' name='diet' type='text'>
        </div>

        <!-- gets the size of the whale -->
        <div class="form-group">
          <label for='size'>Size of the Whale:</label>
          <input id='size' name='size' type='text'>
          (Integer)
        </div>

        <!-- gets the weight of the whale -->
        <div class="form-group">
          <label for='weight'>Weight of the Whale:</label>
          <input id='weight' name='weight' type='text'>
          (Integer)
        </div>
        <button type="submit" class="btn btn-danger">Create</button>
      </form>
      <!-- if the user doesn't have the role of marine biologist -->
      {% else %}
      Don't have access to this page
      {% endif %}

      <br />
      <div>
        <!-- a button to return to the home page -->
        <button type="button" class="btn btn-primary" style="margin-left: 1em;">
          <a href="/WhaleProfiles/index" style="color:white">
            Home Page
          </a>
        </button>
        <!-- a button to a new page where you can edit an existing species -->
        <button type="button" class="btn btn-primary" style="margin-left: 1em;">
          <a href="/WhaleProfiles/editSpecie" style="color:white">
            Edit Specie
          </a>
        </button>
        <!-- a button the user can click that goes to a new page to create a new user -->
        <button type="button" class="btn btn-warning" style="margin-left: 1em;">
          <a href="/WhaleProfiles/createUser" style="color:white">
            Create User
          </a>
        </button>
      </div>
    </div>
  </body>
</html>
