<!DOCTYPE html>
<html>
  <head>
    <title> Add Species </title>
    <!-- imports Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      {% if user.profile.role == "Marine Biologist" %}
      <form method='POST'>
        {% csrf_token %}

        <!-- gets the name of the whale -->
        <div class="form-group">
        <label for='name'>Name of Whale:</label>
        <input id='name' name='name' type='text'/>
        </div>

        <!-- gets the number of whales -->
        <div class="form-group">
          <label for='numWhales'>Number of Whales:</label>
          <input id='numWhales' name='numWhales' type='text'/>
        </div>

        <!-- gets the diet of the whale -->
        <div class="form-group">
          <label for='diet'>Diet of the Whale:</label>
          <input id='diet' name='diet' type='text'>
        </div>

        <!-- gets the size of the whale -->
        <div class="form-group">
          <label for='size'>Size of the Whale:</label>
          <input id='size' name='size' type='text'>
          (Integer)
        </div>

        <!-- gets the weight of the whale -->
        <div class="form-group">
          <label for='weight'>Weight of the Whale:</label>
          <input id='weight' name='weight' type='text'>
          (Integer)
        </div>
        <button type="submit">Create</button>
      </form>

      {% else %}
      Don't have access to this page
      {% endif %}

      <br />
      <a href="/WhaleProfiles/index">
        Home Page
      </a>
      <a href="/WhaleProfiles/editSpecie">
        Edit Specie
      </a>
    </div>
  </body>
</html>
