<!DOCTYPE html>
<html>
  <head>
    <title> Create an Account </title>
    <!-- imports Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <h2> Create a User </h2>
      <!-- collects data from the user -->
      <form method='POST'>
        {% csrf_token %}

        <!-- gets the username of the new user -->
        <div class="form-group">
        <label for='username'>Username:</label>
        <input id='username' name='username' type='text'/>
        </div>

        <!-- gets the password of the new user -->
        <div class="form-group">
          <label for='password'>Password:</label>
          <input id='password' name='password' type='password'/>
        </div>
        <!-- gets the role of the new user -->
        <div class="form-group">
          <label for='role'>Role:</label>
          <input id='role' name='role' type='text'/>
        </div>
        <!-- a button to submit the data to the view -->
        <button type="submit" class="btn btn-danger">Create</button>
      </form>

      <br />
      <div>
        <!-- a button to return to the home page -->
        <button type="button" class="btn btn-primary" style="margin-left: 1em;">
          <a href="/WhaleProfiles/index" style="color:white">
            Home Page
          </a>
        </button>
        <!-- a button to a new page where the user can add a new species -->
        <button type="button" class="btn btn-primary" style="margin-left: 1em;">
          <a href="/WhaleProfiles/addSpecie" style="color:white">
            Add Specie
          </a>
        </button>
        <!-- a button to a new page where the user can edit an existing species -->
        <button type="button" class="btn btn-primary" style="margin-left: 1em;">
          <a href="/WhaleProfiles/editSpecie" style="color:white">
            Edit Specie
          </a>
        </button>
      </div>
    </div>
  </body>
</html>
