<!DOCTYPE html>
<html>
  <head>
    <title> Whale Species with Data </title>
    <!-- imports Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <!-- creates a navbar -->
    <nav class="navbar navbar-expand-sm bg-secondary ">
      {% if user.is_authenticated %}
      <ul class="navbar-nav navbar-right">
        <h3 style="margin-left: 1em;">Welcome, {{ user.username }}</h3>

        <form style="margin-left: 1em;" method="POST">
          {% csrf_token %}
          <input type="hidden" name="logout" value="logout"></input>
          <button type="submit" class="btn btn-danger">Logout</button>
        </form>
      </ul>
      {% else %}

      <!-- holds the links to the four different pages -->
      <ul class="navbar-nav pull-right">
        <form method="POST">
          {% csrf_token %}

          <!-- Give the user a place to type in their name and passowrd. -->
          <li class="nav-item">
            <div class="form-inline">
              <label style="margin-left: 1em;" for="inputUsername">Username: </label>
              <input style="margin-left: 1em;" type="text" class="form-control" name="inputUsername" id="inputUsername" />

              <label style="margin-left: 1em;" for="inputPassword">Password: </label>
              <input style="margin-left: 1em;" type="password" class="form-control" name="inputPassword" id="inputPassword" />

              <button style="margin-left: 1em;" type="submit" class="btn btn-danger">Login</button>
            </div>
        </form>
      </ul>
      {% endif %}
    </nav>
    <br>

    <div class="container">
      <div>
        <table class="col-6 col-sm-4 col-lg-8 table table-striped">
            <thread class = "thead-light">
              <tr>
                <th>Name</th>
                <th>Population</th>
                <th>Diet</th>
                <th>Size</th>
                <th>Weight</th>
              </tr>
            </thread>
            {% for whale in whales %}
              <tr>
                <td>{{whale.name}}</td>
                <td>{{whale.numWhales}}</td>
                <td>{{whale.diet}}</td>
                <!--<br />-->
                <td>{{whale.size}} ft</td>
                <td>{{whale.weight}} ton(s)</td>
                <br />
              </tr>
            {% endfor %}
          </table>
        <br />
      </div>

      <div>
        <a href="/WhaleProfiles/addSpecie">
          Add Specie
        </a>
        <a href="/WhaleProfiles/editSpecie">
          Edit Specie
        </a>
        <a href="/WhaleProfiles/createUser">
          Create User
        </a>
      </div>
    </div>
  </body>
</html>
