<!DOCTYPE html>
<html>
  <head>
    <title> Whale Species with Data </title>
    <!-- imports Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <!-- Here, we check if someone is logged in or not.  I created the
        'loggedIn' variable as a Boolean flag: it is easy to check in Python,
        a little less obvious how to do so in the HTML template.  -->
      {% if user.is_authenticated %}

        <!-- If someone is logged in, we welocme them and give them <thead>
          opportunity to log out. -->
        <h3>Welcome, {{ user.username }}</h3>

        <!-- Use POST for sure any time you are dealing with login/logout info.
          In general, you should use POST unless you have a good reason not to.
          The main reason to use GET instead is if you want the input data to be
          transfereable in the URL; GET puts all data submissions in the URL. -->
        <form style="padding-bottom:1em;" method="POST">
          <!-- Every <form> element needs a csrf_token as a security precaution. -->
          {% csrf_token %}
          <!-- I use the hidden input element to send along the information that
            we are logging out. -->
          <input type="hidden" name="logout" value="logout"></input>
          <button type="submit" class="btn btn-danger">Logout</button>
        </form>

      <!-- If no user is logged in, give them a chance to do so. -->
      {% else %}

        <!-- Again, use POST method, and include a csrf_token -->
        <form style="padding-bottom:1em;" method="POST">
          {% csrf_token %}

          <!-- Give the user a place to type in their name and passowrd. -->
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" class="form-control" name="inputUsername" id="inputUsername" />
          </div>

          <!-- Notice that we use password as the <input> type so that it blocks
            out the characters as you type; otherwise, it is just a text box. -->
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" name="inputPassword" id="inputPassword" />
          </div>

          <!-- Bootstrap likes <button> elements with type="submit" instead
            <input> elements with type="submit" -->
          <button type="submit" class="btn btn-danger">Login</button>
        </form>
      {% endif %}

      <br />
      {% for user in allUsers %}
      {{user.username}}
      {{user.password}}
      {{profile.role}}
      <br />
      {% endfor %}

      <br />
      {% for whale in whales %}
      {{whale.name}}
      {{whale.numWhales}}
      {{whale.diet}}
      {{whale.size}} ft
      {{whale.weight}} tons
      <br />
      {% endfor %}


      <!-- End login/logout section. -->
      Account Login/Sign Up, Species list to see data for each species.
      <a href="/WhaleProfiles/addSpecie">
        Add Specie
      </a>
      <a href="/WhaleProfiles/editSpecie">
        Edit Specie
      </a>
      <!--
      <a href="/WhaleProfiles/createUser">
        Create User
      </a> -->
    </div>
  </body>
</html>
