<!DOCTYPE html>
<html>
  <head>
    <title> Whale Species with Data </title>
    <!-- imports Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <!-- creates a navbar -->
    <nav class="navbar navbar-expand-sm bg-secondary ">
      <!-- only displays if the user is logged in -->
      {% if user.is_authenticated %}
      <ul class="navbar-nav navbar-right ml-auto">
        <h3>Welcome, {{ user.username }}</h3>

        <!-- lets the user logout -->
        <form style="margin-left: 1em;" method="POST">
          {% csrf_token %}
          <input type="hidden" name="logout" value="logout"></input>
          <button type="submit" class="btn btn-danger">Logout</button>
        </form>
      </ul>
      <!-- only dislays if the user isn't logged in -->
      {% else %}
      <ul class="navbar-nav pull-right ml-auto">
        <!-- collects data from the user -->
        <form method="POST">
          {% csrf_token %}

          <!-- Give the user a place to type in their name and passowrd. -->
          <li class="nav-item">
            <div class="form-inline">
              <label style="margin-left: 1em;" for="inputUsername">Username: </label>
              <input style="margin-left: 1em;" type="text" class="form-control" name="inputUsername" id="inputUsername" />

              <label style="margin-left: 1em;" for="inputPassword">Password: </label>
              <input style="margin-left: 1em;" type="password" class="form-control" name="inputPassword" id="inputPassword" />

              <!-- a button to send the username and password the user entered -->
              <button style="margin-left: 1em;" type="submit" class="btn btn-danger">Login</button>
            </div>
        </form>
      </ul>
      {% endif %}

      <!-- a button the user can click that goes to a new page to create a new user -->
      <button type="button" class="btn btn-warning" style="margin-left: 1em;">
        <a href="/WhaleProfiles/createUser" style="color:white">
          Create User
        </a>
      </button>
    </nav>
    <br>

    <div class="container">
      <div>
        <h1>
          Species of Whales
        </h1>
        <!-- a table that displays all the species of whales in the database -->
        <table class="col-6 col-sm-4 col-lg-8 table table-striped">
            <thread class = "thead-light">
              <tr>
                <th>Name</th>
                <th>Population</th>
                <th>Diet</th>
                <th>Size</th>
                <th>Weight</th>
              </tr>
            </thread>
             {% for whale in whales %}
              <tr>
                <td>{{whale.name}}</td>
                <td>{{whale.numWhales}}</td>
                <td>{{whale.diet}}</td>
                <td>{{whale.size}} ft</td>
                <td>{{whale.weight}} ton(s)</td>
              </tr>
            {% endfor %}
          </table>
        <br />
      </div>

      <div>
        <!-- a button to a new page where the user can add a new species -->
        <button type="button" class="btn btn-primary" style="margin-left: 1em;">
          <a href="/WhaleProfiles/addSpecie" style="color:white">
            Add Specie
          </a>
        </button>
        <!-- a button to a new page where the user can edit an existing species -->
        <button type="button" class="btn btn-primary" style="margin-left: 1em;">
          <a href="/WhaleProfiles/editSpecie" style="color:white">
            Edit Specie
          </a>
        </button>
      </div>
    </div>
  </body>
</html>
